<div class="row">
    <h1>Gebruikers</h1>

    <input [(ngModel)]="query" (keyup)="queryChanged()" placeholder="zoeken..."/>

    <div class="row">
        <table class="simple-table colspan6">
            <tr class="simple-table-header">
                <td>
                    <p>Naam</p>
                </td>
                <td>
                    <p>Email</p>
                </td>
            </tr>
            <tr *ngFor="let record of records" class="simple-table-row">
                <td>
                    <p>{{record.fullname}}</p>
                </td>
                <td>
                    <p>{{record.email}}</p>
                </td>
            </tr>
        </table>
    </div>
</div>