<nav [class.open]="isOpen"
     [class.closed]="!isOpen">
    <accordion>
        <accordion-group heading="Algemeen" isGroupOpen="true">
            <ul>
                <li><p routerLink="/todo-list" routerLinkActive="active-menu">Todo's</p></li>
            </ul>
        </accordion-group>
        <accordion-group heading="Admin" isGroupOpen="true">
            <ul>
                <li><p routerLink="/group-list" routerLinkActive="active-menu">Groepen</p></li>
                <li><p routerLink="/user-list" routerLinkActive="active-menu">Gebruikers</p></li>
                <li><p routerLink="/permission-code-list" routerLinkActive="active-menu">Permissies</p></li>
            </ul>
        </accordion-group>
    </accordion>
    <a class="api-link" target="_blank" href="{{docsUrl}}">documentation</a>
</nav>