<div>
    <h1>Groep aanpassen</h1>
    <p>Naam van de groep:</p>
    <input type="text" [(ngModel)]="record.description" (input)="changed()"/>

    <div [hidden]="record.id == 0">
        <h2>Gebruikers</h2>
        <p *ngIf="record.users.length == 0">Er zitten nog geen gebruikers in deze groep.</p>
        <table border="1" *ngIf="record.users.length > 0" class="simple-table">
            <tr class="simple-table-header">
                <td>Naam</td>
                <td>Wissen</td>
            </tr>
            <tr *ngFor="let user of record.users" class="simple-table-row">
                <td>{{user.value}}</td>
                <td>
                    <a (click)="removeUser(user)">x</a>
                </td>
            </tr>
        </table>

        <suggestion-input [(ngModel)]="selectedUser"
                          [list]="users" ngDefaultControl
                          [searchProperty]="'fullname'" [displayProperty]="'fullname'"
                          (suggestionSelected)="userSelected($event)"
                          placeholder="gebruiker toevoegen..."></suggestion-input>

        <h2>Permissies</h2>
        <p *ngIf="record.permissionCodes.length === 0">Er zijn nog geen permissies toegekend aan deze groep.</p>

        <table border="1" *ngIf="record.permissionCodes.length > 0" class="simple-table">
            <tr class="simple-table-header">
                <td>Code</td>
                <td>Omschrijving</td>
                <td>Wissen</td>
            </tr>
            <tr *ngFor="let permission of record.permissionCodes" class="simple-table-row">
                <td>{{permission.code}}</td>
                <td>{{permission.description}}</td>
                <td>
                    <a (click)="removePermission(permisson)">x</a>
                </td>
            </tr>
        </table>

        <suggestion-input [(ngModel)]="selectedPermission"
                          [list]="permissions"
                          [searchProperty]="'code'" [displayProperty]="'code'"
                          [maxSuggestions]="5"
                          (suggestionSelected)="permissionSelected($event)"
                          placeholder="permissie toevoegen...">
        </suggestion-input>
    </div>

    <button type="button" (click)="cancel()" [disabled]="isSaving || !hasChanged " class="btn-normal">Cancel</button>

    <button type="button" (click)="save()" [disabled]="!hasChanged || isSaving" class="btn-normal">Opslaan</button>
</div>
