<div class="row">
    <table>
        <tr>
            <td>Login</td>
            <td>
                <input type="text" [(ngModel)]="username"/>
            </td>
        </tr>
        <tr>
            <td>Paswoord</td>
            <td>
                <input type="password" [(ngModel)]="password"/>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" (click)="register()" class="btn-normal">Registreer</button>
            </td>
            <td>
                <button type="button" (click)="login()" name="btnClick" class="btn-normal">Inloggen</button>
            </td>
        </tr>
    </table>
</div>