<div>
    <table>
        <tr>
            <td>Login</td>
            <td>
                <input type="text" [(ngModel)]="username"/>
            </td>
        </tr>
        <tr>
            <td>Paswoord</td>
            <td>
                <input type="password" [(ngModel)]="password"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="button" (click)="login()" name="btnClick" class="btn-normal">Banaan</button>
            </td>
        </tr>
    </table>
</div>