@import 'base';

$accordionHeadingHeight: 18px;
$accordionHeadingPadding: 5px;
$accordionLeftPadding: 10px;
$accordionBorderThickness: 1px;

.accordion{
  background-color: $darkPrimaryColor;
  color: $textColor;
}
.accordion-group{
  padding-border: 5px;
}
.accordion-group-collapse{
  border-top: $accordionBorderThickness solid transparent;
}
.accordion-group-heading {
  height: $accordionHeadingHeight;
  padding-left: $accordionLeftPadding;
  padding-top: $accordionHeadingPadding;
  padding-bottom: $accordionHeadingPadding;
  &:hover{
    background-color: $lightPrimaryColor;
    color: $primaryTextColor;
  }
}
.accordion-group-title{
}
.accordion-group-heading-open{
  background-color: $primaryColor;
}
.arrow-up {
  float: right;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $textColor;
  margin-right:2*$accordionHeadingPadding;
  margin-top: ($accordionHeadingHeight+2*$accordionHeadingPadding)/2 - 9;
}
.arrow-down {
  float: right;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid $textColor;
  margin-right:2*$accordionHeadingPadding;
  margin-top: ($accordionHeadingHeight+2*$accordionHeadingPadding)/2 - 8;
}
.accordion-group-open{
}
.accordion-group-title{
  font-weight: bold;
  cursor: pointer;
}
.accordion-group-body{
  padding-left: 2*$accordionLeftPadding;

  ul{
    list-style-type: none;

    li {
      margin: $accordionHeadingPadding;
      height: $accordionHeadingHeight;
      cursor: pointer;
      &:hover{
        color: $primaryTextColor;
      }
    }
  }
}