@import 'base';

$defaultHeight: 28px;

.btn-normal{
  min-width: 75px;
  min-height: $defaultHeight;
  border: 1px solid $accentColor;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: transparent;
  font-size: 14px;

  &:hover{
    color: $primaryTextColor;
    background-color: $lightPrimaryColor;
  }
}

input{
  min-height: $defaultHeight;
}