// Margin and padding helpers
@for $i from 1 through 15{
  .m#{$i}{
    margin: #{$i}px;
  }
  .ml#{$i}{
    margin-left: #{$i}px;
  }
  .mt#{$i}{
    margin-top: #{$i}px;
  }
  .p#{$i}{
    padding: #{$i}px;
  }
  .pl#{$i}{
    padding-left: #{$i}px;
  }
  .pt#{$i}{
    padding-top: #{$i}px;
  }
}