@import 'colors';
@import 'globals';

body {
  background-color: #eee;
}

.body-menu-open-desktop {
  margin-left: $sideBarWidth;
}

.header-menu-open {
  margin-left: -$sideBarWidth;
}

.modal-menu-open {
  margin-left: -$sideBarWidth;
}

#header{
  height: $topBarHeight;
  background-color: $accentColor;

  &:hover{
    color: $primaryColor;
    cursor: pointer;
  }
}

#menu{
  margin-left: -$sideBarWidth;
  width: $sideBarWidth;
  padding: 0;
  position: absolute;
  nav{
    background-color: $darkPrimaryColor;
    color: $textColor;
  }

  .open{
    float: left;
    width: $sideBarWidth;
    height: 100%;
    -webkit-transition: width 0.5s linear;
    transition: width 0.5s linear;
  }

  .closed{
    display: none;
  }
}
