@import 'colors';

@mixin round-borders($radius: 1px){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin border($thickness: 1px, $color: $primaryColor){
  border: $thickness $color solid;
}