@import '../globals';

@media only screen
  and (min-device-width: $mobileMinWidth)
  and (max-device-width: $mobileMaxWidth) {

  #menu{
    position: absolute;
    z-index: 10;

    .open{
      width: 200px;
      height: 500px;
    }
    .closed{
      display: none;
    }
  }

  #content{
    padding: 5px;
    width: 100%;
  }
}