@import '../colors';

$accordionHeadingHeight: 18px;
$accordionHeadingPadding: 3px;
$accordionLeftPadding: 10px;
$accordionBorderThickness: 1px;

.accordion{
  &-group{
    padding-bottom: 5px;

    &-collapse{
      border-top: $accordionBorderThickness solid transparent;
    }

    &-heading{
      padding-left: $accordionLeftPadding;
      padding-top: $accordionHeadingPadding;

      &:hover{
        background-color: $lightPrimaryColor;
        color: $primaryTextColor;
      }

      &-open{
        background-color: $primaryColor;
      }
    }

    &-title{
      padding-bottom:5px;
      font-weight: bold;
      cursor: pointer;
    }

    &-body{
      padding-left: 2*$accordionLeftPadding;

      ul{
        list-style-type: none;

        li{
          margin: $accordionHeadingPadding;
          height: $accordionHeadingHeight;
          cursor: pointer;
          &:hover{
            color: $primaryTextColor;
          }
        }
      }
    }
  }
}
.arrow{
  float: right;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid $textColor;
  margin-right:2*$accordionHeadingPadding;

  &-up{
    margin-top: ($accordionHeadingHeight+2*$accordionHeadingPadding)/2 - 7;
  }
  &-down{
    margin-top: ($accordionHeadingHeight+2*$accordionHeadingPadding)/2 - 5;
  }
}
