@import '../colors';

$sideBarWidth: 175px;

html{
  -webkit-text-size-adjust: none;
}
body {
  margin: 0;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 14px;
}
#wrapper {
  margin-left: $sideBarWidth;
  height: 100%;
}
#content {
  width: 100%;
  padding: 10px;
}
#sidebar {
  float: left;
  width: $sideBarWidth;
  margin-left: -$sideBarWidth;
  background-color: $darkPrimaryColor;
  height: 100%;
}
#topbar{
  height: 35px;
  background-color: $accentColor;
}
.logo{
  padding: 5px;
  font-size:20pt;
  font-weight: bold;
  color: white;
  &:hover{
    color: $primaryColor;
    cursor: pointer;
  }
}