@import '../colors';

$sideBarWidth: 175px;
$topBarHeight: 40px;

html{
  -webkit-text-size-adjust: none;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 14px;
}

#header{
  height: $topBarHeight;
  width: 100%;
  background-color: $accentColor;
  padding: 5px;
  font-size:20pt;
  font-weight: bold;
  color: white;
  &:hover{
    color: $primaryColor;
    cursor: pointer;
  }
}

#menu{
  nav{
    background-color: $darkPrimaryColor;
    color: $textColor;
  }

  .open{
    float: left;
    width: $sideBarWidth;
    height: 100%;
    -webkit-transition: width 0.5s linear;
    transition: width 0.5s linear;
  }

  .closed{
    display: none;
  }
}

#content{
  float: left;
  padding: 15px;
}