@import '../colors';
@import '../globals';

html{
  -webkit-text-size-adjust: none;
}

body {
  font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
  font-size: 14px;
}

@media only screen and (min-device-width: $mobileMaxWidth) {
  .body-menu-open-desktop {
    margin-left: $sideBarWidth;
  }
}

#header{
  //margin-left: -$sideBarWidth;
  height: $topBarHeight;
  //width: 100%;
  background-color: $accentColor;
  padding: 5px;
  font-size:20pt;
  font-weight: bold;
  color: white;
  &:hover{
    color: $primaryColor;
    cursor: pointer;
  }
}

#menu{
  @media only screen and (min-device-width: $mobileMaxWidth) {
    margin-left: -$sideBarWidth;
  }
  nav{
    background-color: $darkPrimaryColor;
    color: $textColor;
  }

  .open{
    float: left;
    width: $sideBarWidth;
    height: 100%;
    -webkit-transition: width 0.5s linear;
    transition: width 0.5s linear;
  }

  .closed{
    display: none;
  }
}

#content{
  width: 100%;
  float: left;
  padding: 15px;
}