@import '../mixins';
@import '../globals';

.simple-table{
  margin: $defaultMargin;
  tr{
    td{
      padding: 5px;
    }
  }

  &-header {
    @include border;
    font-weight: bold;
    background-color: $primaryColor;
    color: $lightBackGround;
  }

  &-row {
    border-bottom: 1px solid $lightPrimaryColor;
    border-left: 1px solid $lightPrimaryColor;
    border-right: 1px solid $lightPrimaryColor;
    &:hover {
      background-color: $lightPrimaryColor;
    }
  }
}


