@import '../mixins';
@import '../globals';

.simple-table{
  @include border;
  @include round-borders(2px);
  border-collapse: separate;
  margin: $defaultMargin;
  tr{
    td{
      padding: 5px;
    }
  }

  &-header {
    font-weight: bold;
    background-color: $primaryColor;
    color: $lightBackGround;
  }

  &-row {
    &:hover {
      background-color: $lightPrimaryColor;
    }
  }
}


