@import '../colors';
@import '../globals';

.underline{
  text-decoration: underline;
}
.link{
  text-decoration: underline;
  color: $secondaryTextColor;
  &:hover{
    color: $accentColor;
    cursor: pointer;
  }
}
a{
  text-decoration: underline;
  color: $secondaryTextColor;
  cursor: pointer;
  &:hover{
    color: $accentColor;
    cursor: pointer;
  }
}
p{
  margin: $defaultMargin;
}
h1{
  font-size:20pt;
  margin: $defaultTextMargin $defaultMargin;
}
h2{
  font-size:18pt;
  margin: $defaultTextMargin $defaultMargin;
}
h3{
  font-size:16pt;
  margin: $defaultTextMargin $defaultMargin;
}
h4{
  font-size:14pt;
  margin: $defaultTextMargin $defaultMargin;
}
.validation-error{
  background-color: #fcf8e3;
  border-color: #faf2cc;
  color: #8a6d3b;
  padding:5px;
}

.api-link {
  text-decoration: underline;
  color: darkblue;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  &:hover {
    color: $accentColor;
    cursor: pointer;
  }
}